<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task_type.name %>
</p>

<p>
  <strong>Setup:</strong>
  <%= @task_type.setup %>
</p>

<p>
  <strong>Teardown:</strong>
  <%= @task_type.teardown %>
</p>

<%= link_to 'Edit', edit_task_type_path(@task_type) %> |
<%= link_to 'Back', task_types_path %>
