<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Code:</strong>
  <%= @task.code %>
</p>

<p>
  <strong>Variables:</strong>
  <%= @task.variables %>
</p>

<p>
  <strong>Task type:</strong>
  <%= @task.task_type %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
